@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap');

@layer base {
  li {
    @apply inline-block px-4 py-2 hover:text-slate-100 cursor-pointer
  }
  html,
  body,
  #root {
    height: 100%;
    background-color: white;
    @apply text-black;
  }
}

.home__img {
  background-image: url('https://images.unsplash.com/photo-1611095772768-4b0b2b1b0b0f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXR5JTIwY2FyfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  justify-self: center;
  animation: profile_animate 8s ease-in-out infinite 1s;
  border: 1px solid black;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 40% 70%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.text__shadow, .text__shadow:focus {
  cursor: pointer;
  letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.text__shadow:hover {
    transform: translate(-5px, -5px);
  text-shadow: 0.5px 0.5px 0 black,
    1px 1px 0 black, 
    1.5px 1.5px 0 black, 
    2px 2px 0 black, 
    2.5px 2.5px 0 black, 
    3px 3px 0 black,
    3.5px 3.5px 0 black, 
    4px 4px 0 black,
    4.5px 4.5px 0 black, 
    5px 5px 0 black
}

.unselect {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}